section h1 {
    font-size: 30px;
    margin-left: 10px;
}

.PremiumBody {
    width: 70%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    margin-top: 100px;
    position: relative;
}

.pleyers>img {
    width: 400px;
}

.leftSection {
    width: 50%;
}

.leftSection>img {
    margin-bottom: 40px;
}

.leftSection h1 {
    margin-bottom: 30px;
    padding-right: 80px;
}

.leftSection>p {
    margin: auto 50px 50px 10px;
    font-weight: 200;
}

.rightSection {
    width: 40%;
    z-index: -1;
}

.rightSection>p {
    padding-left: 50px;
    line-height: 25px;
    margin-left: 22px;
    font-weight: 200;
}

.rightSection>img {
    padding-left: 50px;
    margin-left: 22px;
}

.leftSection>h1 {
    width: 100%;
}

.premiumHouse>img {
    width: 105%;
    z-index: 10px;
}