.golf-houses-wrapper {
    margin: 100px 200px 200px;
}

.crown-h1-p-players, .hands-p-houses {
    display: flex;
}

.img-players-houses {
    width: 586px;
}

.houses {
    position: absolute;
    transform: translateY(-320px);
}

.par-1 {
    width: 80%;
    margin-top: 30px;
}

.crown {
    margin-bottom: 60px;
}

.clap-p {
    width: 50%;
    margin-left: 650px;
}

.clap-p p {
    line-height: 30px;
}

.beits {
    display: none;
}





@media (max-width: 768px) {
    .body {overflow-x: hidden !important;width: 100vw !important;}

    .golf-houses-wrapper {
        margin: 100px auto 200px auto;
    }

    .img-players-houses {
        width: 100%;
        margin-bottom: 25%;
    }

    .crown-h1-p {
        margin: auto 0;
        display: flex;
        flex-direction: column;
    }

    .crown {
        width: 80px;
        align-self: center;
        margin-bottom: 20px;
    }

    .crown, h1, .par-1 {
        margin-left: 0;
    }

    .crown-h1-p-players {
        display: flex;
        flex-direction: column;
    }

    .par-1 {
        text-align: center;
        padding: auto 10px !important;
        font-weight: 300;
    }

    .crown-h1-p h1, .par-1 {
        margin: auto auto 20px auto;
        text-align: center
    }

    .hands-p-houses {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .houses {
        display: none;
    }

    .homes {
        margin-top: 0;
        position: relative;
        padding: auto auto 300px auto;
        margin-bottom: 100px;
    	text-align: center;
    }

    .beits {
        display: block;
    }

    .clap-p {
        width: 80%;
        position: relative;
        margin: -50px auto 100px auto;
        text-align: center;
    }

    .clap-p p {
        line-height: normal;
    }

}


@media (max-width: 768px) {
    .par-1 {
        max-width: 80% !important;
        margin: auto !important;
        padding-bottom: 30px;
    }
}



  @media (min-width: 768px) and (max-width: 1520px) {

    .body {
        overflow-x: hidden !important;
        width: 100vw !important;
    }

    .par-1 {
        max-width: 60% !important;
        margin: auto !important;
        padding-bottom: 30px;
    }

    .golf-houses-wrapper {
        margin: 100px auto 200px auto;
    }

    .img-players-houses {
        width: 90%;
        margin-bottom: 25%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .crown-h1-p {
        display: flex;
        flex-direction: column;
    }

    .crown {
        width: 80px;
        align-self: center;
        margin-bottom: 20px;
    }

    .crown-h1-p-players {
        display: flex;
        flex-direction: column;
    }

    .par-1 {
        text-align: center;
        padding: auto 10px !important;
    }

    .crown-h1-p h1, .par-1 {
        margin: auto auto 20px auto;
        text-align: center
    }

    .hands-p-houses {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .houses {
        display: none;
    }

    .homes {
        margin-top: 0;
        position: relative;
        padding: auto auto 300px auto;
        margin-bottom: 100px;
    	text-align: center;
    }

    .beits {
        display: block;
    }

    .clap-p {
        width: 80%;
        margin: -100px auto 30px auto;
        text-align: center;
        transform: translateY(-60px);
    }

    .clap-p p {
        line-height: normal;
    }
  }



  @media (min-width: 2520px){
    .img-players-houses {
        transform: translateX(400px);
        width: 586px;
    }

    .crown-h1-p {
        transform: translateX(400px);
    }

    .clap-p {
        width: 30%;
        margin-left: 0;
        margin: 0 auto auto 1100px;
    }
  }