  .whiteRec {
    display: flex;
    position: relative;
    color: green;
    background-color: white;
    padding: 0.1%;
    cursor: pointer;
    border: 1px solid green;
    width: 160px;
    height: 35px;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .bookingImg {
    background-color: #FFF;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 68px;
    cursor: pointer;
  }

  .reserve {
    position: fixed;
    top: 70%;
    z-index: 1000;
    display: flex;
    align-items: center;
  }

  .bookArr {
    width: 30px;
  }





  @media (max-width: 768px) {
    .whiteRec {
      display: flex;
      position: relative;
      color: green;
      background-color: white;
      padding: 0.1%;
      cursor: pointer;
      border: 1px solid green;
      width: 120px;
      height: 25px;
      gap: 10px;
      justify-content: center;
      align-items: center;
      font-size: 0.6rem;
    }
  
  
    .bookingImg {
      background-color: #FFF;
      border: 2px solid #fff;
      border-radius: 50%;
      height: 30px;
      right: 195px;
      width: 30px;
      color: #fff;
      cursor: pointer;
    }
  
    .reserve {
      position: fixed;
      top: 70%;
      z-index: 1000;
      display: flex;
      align-items: center;
    }
  
    .bookArr {
      width: 20px;
    }
  }





  @media (min-width: 768px) and (max-width: 998px) {

    .icon2-style {
      height: 30px;
      width: 30px;
    }

    .whiteRec {
      display: flex;
      position: relative;
      color: green;
      background-color: white;
      padding: 0.1%;
      cursor: pointer;
      border: 1px solid green;
      width: 120px;
      height: 25px;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }
  
  
    .bookingImg {
      background-color: #FFF;
      border: 2px solid #fff;
      border-radius: 50%;
      height: 40px;
      right: 195px;
      width: 40px;
      color: #fff;
      cursor: pointer;
    }
  
    .reserve {
      position: fixed;
      top: 70%;
      z-index: 1000;
      display: flex;
      align-items: center;
    }
  
    .bookArr {
      width: 20px;
    }

  }