.formHead {
    font-family: didot;
    text-align: center;
    color: #7E6D44;
    margin: 20px auto;
}

.formHead > h1 {
    margin-top: 10%;
}

/* FORM */
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1100px;
    margin: 0 auto;
  }
  
  .box>* {
    flex: 2 1 400px;
  }
  
  .box>div>input {
    width: 500px;
    height: 50px;
  }
  
  .box>div>textarea {
    width: 1050px;
    height: 200px;
    margin: 0 auto;
    display: block;
  }
  
  .box>div>label {
    margin-top: 30px;
    margin-left: 10px;
    padding-bottom: 0;
  }
  
  .formBtn>input {
    text-align: center;
    margin: 15px auto 100px auto;
    display: block;
    padding: 10px 25px;
    color: #4E4E4E;
    background-color: transparent;
    border: 2px solid #4E4E4E;
  }




  @media (max-width: 768px) {
    .box {
        display: block;
        flex-wrap: nowrap;
        width: 300px;
      }

      .formHead {
        margin-top: 100px;
      }

      .box>div>label {
        margin-top: 30px;
        margin-left: 0px;
        padding-bottom: 0;
        width: 300px;
      }
      
      .box>div>input, .box>div>textarea {
        width: 300px;
      }
  }




  @media (min-width: 768px) and (max-width: 998px) {
    .formHead > h1 {
        margin-top: 10%;
    }

    .box {
        display: block;
        width: 700px;
    }
      
    .box > div > label {
        margin-left: 50px;
    }

    .box > div > input, .box > div > textarea {
        width: 600px;
    }
  }