* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.nav-container {
    overflow: hidden;
    z-index: 1000;
    padding-left: 40px;
}

.nav-container a {
    color: black;
    float: left;
    text-align: center;
    padding: 40px 26px;
    text-decoration: none;
}

.nav-links {
    float: right;
    font-size: 0.85rem;
}

#logo {
    position: absolute;
    margin-left: 20px;
    margin-top: 25px;
    z-index: 1000;
    transform: translateX(-260px);
}

#subscribe-nav {
    color: red;
    font-weight: 700;
    font-size: 0.95rem;
}