.footerSubsicrebtion {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #2c2c2c;
    color: white;
}

.footerSubsicrebtion>h1 {
    font-size: x-large;
    color: white;
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-top: 30px;
}

.footerSubsicrebtion>input {
    width: 30%;
    height: 50px;
    background-color: #45454500;
    text-align: center;
    color: white;
    outline: none;
    border: 1px solid #45454534;
    background-color: #454545cb;
    margin-bottom: 30px;
    opacity: 80%;
}

.footerSubsicrebtion>input::placeholder {
    color: white;
}

.footerLinks {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerLogos {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding-left: 50px;
    padding-right: 50px;
}

.footerLogoDev {
    background-color: #7e6d44;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 6px 0 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footerPrivecy {
    width: 30%;
}

.footerItems {
    width: 30%;
}

.footerItems ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footerItems ul li {
    cursor: pointer;
}

#facebookfooter {
    padding-left: 17px !important;
    padding-right: 17px !important;
}



@media (max-width: 767px) {
    .footerWrapper {
        width: 375px;
    }

    .footerLogos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .footerLogoDev{
        width: 40px;
        height: 30px;
        border-radius: 50%;
        padding: 20px;
    }

    .footerLogoImg {
        width: 10px;
        height: 10px;
    }
    .footerLinks {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footerItems ul {
        margin: auto 0;
    }
    .footerItems ul li {
        cursor: pointer;
        margin-right: 20px;
    }
    .footerPrivecy {
        width: auto;
    }
    .footerSubsicrebtion>input {
        width: 70%;
    }
    .footerSubsicrebtion>h1 {
        margin-bottom: 30px;
        font-size: large;
    }

}



@media (min-width: 767px) and (max-width: 998px) {
    .footerWrapper {
        width: 767px;
    }

    .footerLogos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footerLogoDev{
        width: 40px;
        height: 30px;
        border-radius: 50%;
        padding: 20px;
    }

    .footerLogoImg {
        width: 10px;
        height: 10px;
    }

    .footerLinks {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footerItems ul {
        margin: auto 0;
    }

    .footerItems ul li {
        cursor: pointer;
        margin-right: 20px;
    }

    .footerPrivecy {
        width: auto;
    }

    .footerSubsicrebtion>input {
        width: 70%;
    }

    .footerSubsicrebtion>h1 {
        margin-bottom: 30px;
    }

    /* .footerLogoDev{
        width: 40px;
        height: 30px;
        border-radius: 50%;
        padding: 20px;
    } */


}