.gdiv {
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0.5;
}

.gdiv h1, .gdiv p {
    color: #fff;
    font-family: didot;
}

.gdiv h1 {
    letter-spacing: 4px;
}

.twoGolfStickImg {
    margin: 4% auto;
    display: block;
}

.aboutTournaments {
    margin: 100px auto;
}

.aboutTournaments > h1, .aboutTournaments > p {
    text-align: center;
    text-align: center;
    margin: auto;
    max-width: 70%;
}

.aboutTournaments > h1 {
    font-family: didot;
    color: #7E6D44;
}

.aboutTournaments > p {
    color: #4E4E4E;
}


.formHead {
    font-family: didot;
    text-align: center;
    color: #7E6D44;
    margin: 20px auto;
}

/* FORM */
.boxTour {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1100px;
    margin: 0 auto;
  }
  
  .boxTour>* {
    flex: 2 1 400px;
  }
  
  .boxTour>div>input {
    width: 500px;
    height: 50px;
  }
  
  .boxTour>div>textarea {
    width: 1050px;
    height: 200px;
    display: block;
    margin: 0 auto;
  }
  
  .boxTour>div>label {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: -20px;
}
  
  .formBtn>input {
    text-align: center;
    margin: 15px auto 100px auto;
    display: block;
    padding: 10px 25px;
    color: #4E4E4E;
    background-color: transparent;
    border: 2px solid #4E4E4E;
  }

.tournamentsLogin {
    z-index: 1000;
    right: 0;
    top: 100px;
    position: absolute;
    height: 500px;
    margin-right: 20px;
    background-color: white;
}

.banner{
    position: relative;
    width: 100%;
    height:100%;
}






@media (max-width: 768px) {
    body {overflow-x: hidden !important;}
    .tourImg {
        width: 375px;
        height: 120px;
    }

    .gdiv {
        width: 189px;
        text-align: center;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 50%);
        line-height: 0.8;
    }

    .gdiv h1 {
        letter-spacing: 2px;
    }

    .gdiv p {
        margin-bottom: -15px;
    }

    .twoGolfStickImg {
        margin: 20px auto;
        display: block;
        width: 50px;
    }

    .aboutTournaments {
        margin: 50px auto; 
    }

    .aboutTournaments h1, .aboutTournaments p {
        text-align: center;
    }

    .aboutTournaments h1 {
        font-family: didot;
        color: #7E6D44;
    }

    .aboutTournaments p {
        margin: 10px auto;
        color: #4E4E4E;
    }

    .formHead > h1 {
        margin-top: 20%;
    }

    
    /* FORM */
      .boxTour {
        display: block;
        flex-wrap: nowrap;
        width: 300px;
      }
      
      .boxTour>div>input, .boxTour>div>textarea {
        width: 300px;
      }

      .boxTour>div>label {
        margin-left: -10px;
        margin-top: 20px;
        margin-bottom: -20px;
    }
      
}




@media (min-width: 768px) and (max-width: 998px) {
    body {overflow-x: hidden !important;}

    .tourImg {
        width: 768px;
        height: 220px;
    }

    .gdiv {
        width: 269px;
        text-align: center;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 50%);
        line-height: 0.8;
    }

    .gdiv h1 {
        letter-spacing: 2px;
        padding-top: 5px;
    }

    .gdiv p {
        margin-bottom: -15px;
    }

    .twoGolfStickImg {
        margin: 20px auto;
        display: block;
        width: 50px;
    }

    .aboutTournaments {
        margin: 50px auto; 
    }

    .aboutTournaments h1, .aboutTournaments p {
        text-align: center;
    }

    .aboutTournaments h1 {
        font-family: didot;
        color: #7E6D44;
    }

    .aboutTournaments p {
        margin: 10px auto;
        color: #4E4E4E;
    }

    .boxTour>div>label {
        margin-top: 10px;
        margin-bottom: -20px;
        margin-left: -10px;
    }
    
    .formHead > h1 {
        margin-top: 20%;
    }

    .boxTour {
        display: block;
        width: 700px;
    }
      
    .boxTour>div>input, .boxTour>div>textarea {
        width: 700px;
    }
}







@media (min-width: 2520px) {
    .gdiv {
        flex-direction: column;
    }

    .banner {
        position: relative;
        width: 100%;
        height:100%;
    }

    .tourImg {
        width:100%;
    }

    /* FORM */
    .boxTour>div>input {
        margin-bottom: 20px;
        bottom: 50px;
        margin-bottom: 30px;
    }

    .phoneInput {
        margin-left: 20px;
        margin-bottom: 20px;
        bottom: 50px;
        margin-bottom: 30px; 
    }

    .boxTour>div>textarea {
        display: block;
        margin: 0 auto;
    }

    .boxTour>div>label {
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: -20px;
    }
}

.banner{
    position: relative;
    width: 100%;
    height:100%;
}